* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  &:focus {
    outline: none;
  }
}

.App {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $main-background;
}

a {
  text-decoration: none;
  color: #000;
}

font {
  background: none;
}

p {
  background: none;
}