.Categories {
    margin-top: 30px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            li {
                margin-right: 20px;
                cursor: pointer;
                font-size: 16px;
                color: inherit;
                transition: .3s all;

                &:hover {
                    color: #879758;
                }
            }
        }
        &__list {
            color: #dc243e!important;
            position: relative;
            display: block;
            padding-left: 16px;

            &:before {
                content: url('../icons/star-big.svg');
                position: absolute;
                left: 0;
                top: -1px;  
            }
        }
    }
            
}