.Header {
  padding: 5px 0 5px;

  &__promo {
    display: flex;
    justify-content: flex-end;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    &__left {
      display: flex;
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 16px;
      font-weight: 300;
      margin-top: 10px;
      max-width: 195px;
    }

    &__city {
      margin-left: 15px;
    }

    &__modal {
      color: #dc243e;
      margin-top: 5px;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
      &:after {
        content: "";
        width: 8px;
        height: 4px;
        display: block;
        background: url(../icons/city-down.png);
        position: absolute;
        left: 240px;
        top: 42%;
        transform: translateY(-50%);
    }
  }
  &__social {
    width: 200px;
    display: flex;
    padding-left: 2px;
    justify-content: space-between;

      img {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
          transition: 0.4s;
        }
      }
  }
  &__number {
    margin-left: 15px;
    
    &__phone {
      font-weight: bold;
      font-size: 21px;

      &:hover {
        text-shadow: 0 0 10px #879758;;
      }
    }
}
}