.Navigation {
  &__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-left: 25px;

    li {
      color: inherit;
      margin-left: 20px;
      font-size: 16px;
    }
    a:hover {
      text-shadow: $main-shadow-text;
      transition: 0.4s;
    }

  }
}